version: '3.7'

services:
  api:
    build:
      context: ./
      dockerfile: Dockerfile
    container_name: api
    ports:
      - 3000:3000
    networks:
      - project_network
    depends_on:
      - postgres
      - redis

  postgres:
    image: postgres:14
    container_name: postgres_container
    environment:
      POSTGRES_DB: pg_admin
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - '5432:5432'
    volumes:
      - postgres-data:/var/lib/postgresql/data
    networks:
      - project_network

  redis:
    image: redis
    container_name: redis_container
    ports:
      - '6379:6379'
    networks:
      - project_network
volumes:
  postgres-data:

networks:
  project_network:
    driver: bridge
